$font-heading: 'Century Gothic',serif
$font-heading-span: 'Baguet Script',script
$font-body: Helvetica,sans-serif
//$font-body-span: ,sans-serif

$font-size-large: 4em
$font-size-normal: 2em
$font-size-small: 1em


$color-theme-Darkgreen: #021F06
$color-Darkgreen-purpel: #5E116B
$color-Darkgreen-brown: #6B2411
$color-Darkgreen-font: #E6E6E6
$font-accent-color: #FF30F1


@mixin theme($theme: $color-theme-Darkgreen)
    background: $theme
    color: $color-Darkgreen-font
    .hamburger
        background-color: $theme
    .globalNav
        background-color: $theme
        ul
            list-style-type: none
            a
                text-decoration: none
            a:link
                color: $color-Darkgreen-font
            a:visited                    
                color: $color-Darkgreen-font
            a:hover
                color: $font-accent-color