@import '_base.sass'

//Mobile up to 1000px
@media only screen and (max-width: 1000px)
    header
        @include theme($theme: $color-theme-Darkgreen)
        width: 100vw
        padding: 4vh 3vw 4vh 3vw
        display: flex
        flex-flow: row
        h1
            text-align: left
        nav
            img
                width: 5vw
                height: 5vh
        .menuItem
            display: block
            padding: 2vh 0 2vh 0
        .hamburger
            position: fixed
            z-index: 5000
            border: none
            top: 1rem
            rigth: 1rem
            padding: 4px
            cursor: pointer
        .closeOpt
            display: none
        .globalNav
            position: fixed
            transform: translateY(-100%)
            transition: transform 0.2s
            width: 100vw
            z-index: 4999
            padding: 10vh 5vw 5vh 5vw
        //JS class 
        .menuVisability
            transform: translateY(0)

/*Desctop

        