@import '_base.sass'

//Mobile up to 1000px
@media only screen and (max-width: 1000px)
    header
        @include theme($theme: $color-theme-Darkgreen)
        display: flex
        flex-flow: row
        h1
            text-align: left
            font-size: $font-size-normal
        nav
            ul
                list-style-type: none
                li
                    font-size: $font-size-normal
                a
                    text-decoration: none
                a:link
                    color: $color-Darkgreen-font
                a:visited                    
                    color: $color-Darkgreen-font
                a:hover
                    color: $font-accent-color
                a:before
                    content: ''
                    position: absolute
                    width: 100%
                    height: 4px
                    border-radius: 4px
                    background-color: $color-Darkgreen-purpel
                    bottom: 0
                    left: 0
                    transform-origin: right
                    transform: scaleX(0)
                    transition: transform .1s ease-in-out
                a:active::before
                    transform-origin: left
                    transform: scaleX(1)
                    
            img
                width: 5vw
                height: 5vh
        .menuItem
            display: block
            padding: 2vh 0 2vh 0
        .hamburger
            justify-items: end
            position: fixed
            z-index: 5000
            border: none
            padding-rigth: 1vw
            right: 0
            cursor: pointer
        .closeOpt
            display: none
        .globalNav
            display: flex
            flex-flow: column
            align-items: center
            position: fixed
            transform: translateY(-100%)
            transition: transform 0.2s
            top: 0
            left: 0
            rigth: 0
            bottom: 0
            width: 100vw
            z-index: 4999
            //padding: 10vh 5vw 5vh 5vw
        //JS class 
        .menuVisability
            transform: translateY(0)

/*Desctop

        