@use 'base'


//Mobile
@media only screen and  (max-width: 1000px)
    header
        @include theme($theme: $color-theme-Darkgreen)
        display: flex
        flex-flow: columns
        nav
            ul
                li
                    list-style-type: none
                    a
                        
                    a::hover




//Desctop
