@import '_base.sass'

//Mobile up to 1000px
@media only screen and (max-width: 1000px)
    //@include theme($theme: $color-theme-Darkgreen)
    main
        background-image: url('../img/Full_Moon_on_August_22,_2021_-_Flickr_-_gjdonatiello.svg')
        //src: https://upload.wikimedia.org/wikipedia/commons/thumb/9/9f/Full_Moon_on_August_22%2C_2021_-_Flickr_-_gjdonatiello.jpg/640px-Full_Moon_on_August_22%2C_2021_-_Flickr_-_gjdonatiello.jpg
        background-repeat: no-repeat
        background-position: center
        background-size: 70% 70%
        background-color: $color-theme-Darkgreen
        height: 90vh
        section
            display: flex
            align-items: center
            padding-top: 20vh
            h1
                text-align: center
                font-family: $font-heading, $font-heading-backup
                font-size: $font-size-large
                color: $font-accent-color
                text-shadow: 0px 2px 55px rgba(255, 103, 252, 0.50)
                border: 3px dashed #8d1d85
                width: 85vw
                &:after
                    content:''
                    width: 85vw
                    height: 50vh
                    background: url('../img/neonContainerBorder.svg')
                    background-repeat: no-repeat
                    background-position: center
                    position: absolute
                    display: inline-block
            #firstP
                text-align: center
                font-family: $font-heading-backup
                font-size: $font-size-small
                color: $color-Darkgreen-font
            #secondP
                text-align: center
                font-family: $font-heading-accent
                font-size: $font-size-small
                color: $font-heading-accent